@tailwind base;
@tailwind components;
@tailwind utilities;

.decorated-text {
  text-shadow: 0.025em 0.025em 0 hsl(30, 100%, 60%),
    0.05em 0.05em 0 hsl(0, 78%, 57%), 0.1em 0.1em 0 hsl(60, 100%, 60%);
}

.bg-animated {
  background: linear-gradient(
    -45deg,
    hsl(0, 78%, 57%),
    hsl(14, 82%, 63%),
    hsl(60, 100%, 60%),
    hsl(30, 100%, 60%)
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

.bg-animated::before {
  content: "";
  position: absolute;
  background: linear-gradient(
    -45deg,
    hsl(14, 82%, 63%),
    hsl(60, 100%, 60%),
    hsl(0, 78%, 57%),
    hsl(30, 100%, 60%)
  );
  background-size: 400% 400%;
  animation: gradient 4s ease infinite;
  border-radius: 10px;
  transform: skewX(160deg);
}

.bg-animated::before {
  width: 60px;
  height: 220px;
  top: 1%;
  right: 20%;
  animation-duration: 7s;
  box-shadow: -55px 55px 0px #ff9933, 50px 130px 0px #ea5b2f,
    150px -130px 0px #ff9933;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media print {
  .pagebreak {
    page-break-before: always;
  } /* page-break-after works, as well */
}
