@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #001219;
  --orange: hsl(30, 100%, 60%);
  --light: #ffb703;
}

.debug {
  border: 1px solid red;
  background-color: #ee775256;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat;
  /* background-color: var(--dark); */
  /* font-family: "Roboto", sans-serif; */
}
/* Hide scrollbar for Chrome, Safari and Opera */
.hidden-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hidden-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #efefef;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: linear-gradient(-45deg, #ffff33, #ff9933);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-45deg, #e73c7e, #ee7752);
}

.bg-animated {
  background: linear-gradient(
    -45deg,
    hsl(0, 78%, 57%),
    hsl(14, 82%, 63%),
    hsl(60, 100%, 60%),
    hsl(30, 100%, 60%)
  );
  background-size: 400% 400%;
  animation: gradient 8s ease infinite;
}

.bg-imaged {
  width: 100%;
  height: 100%;
  background: transparent;
  /*background-image: url("https://unsplash.it/900/400");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  background-repeat: no-repeat;*/
}

menu {
  height: 0px;
  z-index: 5;
  background-color: white;
}

nav .line::after {
  content: "";
  position: absolute;
  top: -200px;
  bottom: 0px;
  left: 50%;
  border: 2px solid #ffb8035a;
  box-shadow: 0 0 2rem #ffb703;
  z-index: 4;
}

nav li:hover {
  background: linear-gradient(
    -45deg,
    hsla(0, 78%, 57%, 0.1),
    hsla(14, 82%, 63%, 0.1),
    hsla(60, 100%, 60%, 0.1),
    hsla(30, 100%, 60%, 0.1)
  );
}

nav li:hover a {
  font-weight: 800;
  background-image: linear-gradient(90deg, #ff9933, #e73c7e);
  animation: gradient 8s ease infinite;
  text-decoration: underline;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.card {
  grid-template-columns: repeat(8, 1fr);
  /* width: 100%; */
  transition: 0.7s;
  /* max-width: 500px; */
}

.card img {
  grid-column: 1/5;
  grid-row: 1/2;
  height: 100%;
  width: auto;
}

.card:hover {
  border: none;
  box-shadow: -5px 5px 0px #ee7752, -10px 10px 0px #ff9933,
    -15px 15px 0px #e73c7e;
  transform: translate(15px, -15px);
}

.card div.content {
  grid-column: 4/-1;
  grid-row: 1/2;
  align-self: center;
}

main section {
  transition: 0.4s ease-in-out;
  background-image: linear-gradient(90deg, var(--orange), var(--blue));
  background-size: 100% 14px;
  background-repeat: no-repeat;
  background-position: center bottom;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@media only screen and (max-width: 600px) {
  .menu-container {
    transform: translateX(150%);
    top: 0px;
    right: 0px;
    bottom: 0px;
    /* z-index: 30; */
    transition: 400ms;
  }
  .active {
    height: fit-content;
    transform: translateX(0%);
  }
}
