---
import ResumeLayout from "layouts/ResumeLayout.astro";
---

<ResumeLayout>
  <main class="mx-4 md:w-[900px] md:mx-auto leading-loose text-sm">
    <div class="topbar my-2">
      <h1 class="text-4xl font-bold text-blue-700">Anandu Babu</h1>
      <h3 class="text-sm my-2">
        Frontend Engineer <span class="mx-4 text-sm"> //</span> Mentor
      </h3>

      <p contenteditable="true" class="">
        Frontend Engineer with 5 years of experience in architecting and
        developing scalable enterprise applications. Expertise in React.js,
        Next.js, and modern frontend tooling, with a proven track record in
        driving architectural improvements, enhancing user experience, and
        mentoring teams.
      </p>
    </div>

    <div class="flex h-full border-t border-blue-500">
      <section class="w-1/3 p-2 border-r">
        <div class="">
          <!-- <h5 class="font-bold capitalize">contact</h5> -->
          <p class="flex flex-col items-start justify-between mt-2">
            <a class="flex items-center mr-3">
              <img
                src="/assets/icons/phone.png"
                class="w-3 h-3 mr-2"
                alt="Phone"
              />
              +91 9947975674
            </a>
            <a
              href="mailto:anandubabu.kr@gmail.com"
              class="flex items-center mr-3"
            >
              <img
                src="/assets/icons/mail.png"
                class="w-3 h-3 mr-2"
                alt="email"
              />
              anandubabu.kr@gmail.com
            </a>
            <a href="https://anandubabu.web.app" class="flex items-center mr-3">
              <img
                src="/assets/icons/resume-web.svg"
                class="w-3 h-3 mr-2"
                alt="portfolio website"
              />
              anandubabu.web.app
            </a>
            <a
              href="https://www.linkedin.com/in/anandubabukr"
              class="flex items-center mr-3"
            >
              <img
                src="/assets/icons/resume-ln.svg"
                class="w-3 h-3 mr-2"
                alt="LinkedIn"
              />
              in/anandubabukr
            </a>
            <a
              href="https://github.com/anandubabu-kr/"
              class="flex items-center mr-3"
            >
              <img
                src="/assets/icons/resume-gh.svg"
                class="w-3 h-3 mr-2"
                alt="LinkedIn"
              />

              gh/anandubabu-kr
            </a>
          </p>
        </div>
        <div class="mt-2">
          <h5 class="font-bold capitalize">Skills</h5>
          <div contenteditable="true">
            <ul class="flex flex-wrap justify-start">
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                React.js + React query
              </li>
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Next.js + SWR
              </li>
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Astro.js
              </li>

              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Express.js
              </li>
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Tailwind 
              </li>
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                antd
              </li>
              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Git
              </li>

              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                CSS 3/SASS
              </li>

              <li
                class="relative flex items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Redux
              </li>
              <li
                class="relative /flex hidden items-center before:content-['●'] before:text-blue-700 before:mx-1"
              >
                Product designing
              </li>
            </ul>
          </div>
        </div>

        <div class="mt-2">
          <h5 class="font-bold capitalize">Projects (personal)</h5>

          <div>
            <article class="hidden">
              <a href="https://jsontranslator.web.app/" target="_blank">
                <p class="after:content-['_↗'] underline underline-offset-2">
                  JSON Translator
                </p>
                <p class="py-1">
                  Free developer tool to seamlessly implement translation.
                </p>
              </a>

              <a href="https://tidehub.in/" target="_blank">
                <p class="after:content-['_↗'] underline underline-offset-2">
                  TideHub app suite
                </p>
                <p class="py-1">
                  A feature rich solution for day to day bushiness challenges of
                  LMS with admin panel.
                </p>
              </a>
            </article>
            <article>
              <div>
                <p class="text-xs text-blue-700 font-bold">JSON Translator</p>
                <p class="py-1">
                  Free developer tool to seamlessly implement translation.
                  <span class="text-xs"
                    >React+Typescript, Tailwind, Firebase</span
                  >
                </p>
              </div>

              <div>
                <p class="text-xs text-blue-700 font-bold">TideHub app suite</p>
                <p class="py-1">
                  A feature rich solution for day to day bushiness challenges of
                  LMS with admin panel.
                  <span class="text-xs">UI/UX, React+Typescript, Tailwind</span>
                </p>
              </div>
            </article>
          </div>
        </div>

        <div class="mt-2">
          <h5 class="font-bold capitalize">education</h5>
          <article class="flex flex-col justify-between">
            <p class="">Bachelors of Science (B.Sc.) in Computer science</p>
            <h6 class="text-xs uppercase">June 2017 - March 2020</h6>
            <span class="text-sm"> University of Calicut</span>
          </article>
        </div>

        <div class="mt-2">
          <h5 class="font-bold capitalize">Activities</h5>
          <div>
            <h6 class="text-xs">
              <span>Frontend Mentor</span>
              @ 10X Academy
            </h6>
            <span class="uppercase text-xs">March 2022 - December 2022</span>
          </div>
        </div>
      </section>
      <section class="p-2 w-full">
        <h3 class="text-xl font-bold">Experience</h3>

        <!-- ECS -->
        <article class="mt-3">
          <div class="flex flex-col justify-between md:flex-row">
            <h1 class="font-bold text-normal">
              <span class="text-blue-700">Senior Frontend Engineer</span> @ ECS Business
              Solutions.
            </h1>
            <h2 class="text-xs uppercase">AuGUST 2022 – PRESENT</h2>
          </div>
          <ul contenteditable="true" class="ml-6 list-disc list-outside">
            <li>
              Architected and developed scalable enterprise applications for
              global banking clients, supporting multilingual interfaces and
              significantly improving user experience by deeply understanding and
              addressing client requirements.
            </li>
            <li>
              Improved code maintainability and scalability by implementing
              component-based design, introducing monorepos (NX) and starter
              templates, and migrating legacy React apps to Next.js (FSD).
            </li>
            <li>
              Led the design, development, and maintenance of in-house component
              library using Storybook on top of Ant design, facilitating the
              sharing of complex features across multiple applications.
            </li>
            <li>
              Engineered robust React applications, seamlessly testing and
              integrating REST APIs via Swagger, Postman, and React Query, while
              enhancing security with Keycloak adapters and PKCE/OAuth workflows.
            </li>
            <li>
              Elevated code quality and reliability through the introduction of
              Jest/RTL for unit testing and Cypress for E2E testing and
              streamlined development and git workflows by building custom CLI
              tools, significantly boosting team productivity.
            </li>
            <li>
              Introduced and integrated modern development tools and practices
              such as Figma, Design principles, and optimized JavaScript
              libraries, significantly enhancing development workflows and
              application quality.
            </li>
            <li>
              Continuously analyzed and refactored project codebases to ensure
              architectural upgrades and performance enhancements. Ensured
              knowledge continuity by preparing detailed documentation for
              features and workflows.
            </li>
            <li>
              Managed sprint planning and task execution, collaborating
              cross-functionally with DevOps and backend teams to resolve
              performance issues and troubleshoot application challenges.
            </li>
            <li>
              Transformed the hiring and onboarding process by upgrading interview
              procedures, introducing screening tests, and developing an in-house
              StackBlitz-integrated live coding assessment platform.
            </li>
            <li>
              Mentored and trained junior developers, creating and implementing a
              comprehensive training curriculum to enhance team capabilities.
            </li>
          </ul>
        </article>

        <!-- TCS -->
        <article class="mt-3">
          <div class="flex flex-col justify-between md:flex-row">
            <h1 class="font-bold text-normal">
              <span class="text-blue-700"> Junior Frontend Engineer</span> @ Tata
              Consultancy Services
            </h1>
            <h2 class="text-xs uppercase">SEPTEMBER 2020 - JULY 2022</h2>
          </div>
          <ul contenteditable="true" class="ml-6 list-disc list-outside">
            <li>
              Engineered generative JavaScript algorithms for a digital handloom
              project, implementing animated demos with Handlebars.js and p5.js
              within an Angular application.
            </li>
            <li>
              Orchestrated the migration of legacy Angular applications to modern
              React components, enhancing performance and maintainability.
            </li>
            <li>
              Developed and optimized shell scripts (Bash/Perl) to automate and
              log build and application runtime processes.
            </li>
            <li>
              Facilitated knowledge transfer (KT) sessions and comprehensive
              documentation for complex feature implementations.
            </li>
          </ul>
        </article>

        <!-- Freelancing -->
        <article class="mt-3">
          <div class="flex flex-col justify-between content-center md:flex-row">
            <h1 class="font-bold text-normal">
              <span class="text-blue-700">Freelance Wordpress developer</span> @
              Fivver / on direct contact.
            </h1>
            <h2 class="text-xs uppercase">SEPTEMBER 2019 - August 2022</h2>
          </div>
          <ul contenteditable="true" class="ml-6 list-disc list-outside">
            <li>
              Designed and delivered top-tier websites and creative projects for
              clients worldwide, with a primary focus on WordPress, Elementor,
              Jetpack, and Photoshop.
            </li>
          </ul>
        </article>
      </section>
    </div>
  </main>
</ResumeLayout>
