<main class="flex w-full h-[100vh] border-orange-400 border-8">
  <div class="m-auto text-center">
    <h1 class="text-5xl font-bold text-orange-500 animate-pulse">404</h1>
    <p class="mb-3">Page not found!!!</p>
    <code>
      Code explorer mode:
      <span class="text-green-600"> activated</span>
    </code>
    <p class="text-lg my-5">Let's get back on track!</p>
    <a class="bg-orange-500 text-white px-4 py-2 my-3 rounded-md" href="/"
      >home</a
    >
  </div>
</main>
