---
import ResumeLayout from "layouts/ResumeLayout.astro";
---

<ResumeLayout>
  <header class="mt-2 mx-4 md:w-[900px] md:mx-auto">
    <h1 class="text-4xl font-bold text-center">Anandu Babu</h1>
    <h3 class="text-sm text-center">
      Frontend Engineer <span class="mx-4 text-sm"> //</span> Mentor
    </h3>

    <article class="mt-3 summery rounded-md  text-justify p-2">
      <p>
        Frontend Engineer with 5 years of experience in architecting and
        developing scalable enterprise applications. Expertise in React.js,
        Next.js, and modern frontend tooling, with a proven track record in
        driving architectural improvements, enhancing user experience, and
        mentoring teams.
      </p>
    </article>
  </header>
  <main class="mx-4 md:w-[900px] md:mx-auto mb-6">
    <section class="mt-2 experience">
      <h1 class="text-xl font-bold">Experience</h1>
      <article class="mt-3 p-2 rounded-md ">
        <div class="flex flex-col justify-between md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700">Senior Frontend Engineer</span> @ ECS Business
            Solutions.
          </h1>
          <h2 class="text-xs uppercase">AuGUST 2022 – PRESENT</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Architected and developed scalable enterprise applications for
            global banking clients, supporting multilingual interfaces and
            significantly improving user experience by deeply understanding and
            addressing client requirements.
          </li>
          <li>
            Improved code maintainability and scalability by implementing
            component-based design, introducing monorepos (NX) and starter
            templates, and migrating legacy React apps to Next.js (FSD).
          </li>
          <li>
            Led the design, development, and maintenance of in-house component
            library using Storybook on top of Ant design, facilitating the
            sharing of complex features across multiple applications.
          </li>
          <li>
            Engineered robust React applications, seamlessly testing and
            integrating REST APIs via Swagger, Postman, and React Query, while
            enhancing security with Keycloak adapters and PKCE/OAuth workflows.
          </li>
          <li>
            Elevated code quality and reliability through the introduction of
            Jest/RTL for unit testing and Cypress for E2E testing and
            streamlined development and git workflows by building custom CLI
            tools, significantly boosting team productivity.
          </li>
          <li>
            Introduced and integrated modern development tools and practices
            such as Figma, Design principles, and optimized JavaScript
            libraries, significantly enhancing development workflows and
            application quality.
          </li>
          <li>
            Continuously analyzed and refactored project codebases to ensure
            architectural upgrades and performance enhancements. Ensured
            knowledge continuity by preparing detailed documentation for
            features and workflows.
          </li>
          <li>
            Managed sprint planning and task execution, collaborating
            cross-functionally with DevOps and backend teams to resolve
            performance issues and troubleshoot application challenges.
          </li>
          <li>
            Transformed the hiring and onboarding process by upgrading interview
            procedures, introducing screening tests, and developing an in-house
            StackBlitz-integrated live coding assessment platform.
          </li>
          <li>
            Mentored and trained junior developers, creating and implementing a
            comprehensive training curriculum to enhance team capabilities.
          </li>
        </ul>
      </article>

      <article class="mt-3 p-2 rounded-md ">
        <div class="flex flex-col justify-between md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700"> Junior Frontend Engineer</span> @ Tata Consultancy
            Services
          </h1>
          <h2 class="text-xs uppercase">SEPTEMBER 2020 - JULY 2022</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Engineered generative JavaScript algorithms for a digital handloom
            project, implementing animated demos with Handlebars.js and p5.js
            within an Angular application.
          </li>
          <li>
            Orchestrated the migration of legacy Angular applications to modern
            React components, enhancing performance and maintainability.
          </li>
          <li>
            Developed and optimized shell scripts (Bash/Perl) to automate and
            log build and application runtime processes.
          </li>
          <li>
            Facilitated knowledge transfer (KT) sessions and comprehensive
            documentation for complex feature implementations.
          </li>
        </ul>
      </article>

      <article class="mt-3 p-2 rounded-md ">
        <div class="flex flex-col justify-between content-center md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700">Freelance Wordpress developer</span> @ Fivver
            / on direct contact.
          </h1>
          <h2 class="text-xs uppercase">SEPTEMBER 2019 - August 2022</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Designed and delivered top-tier websites and creative projects for
            clients worldwide, with a primary focus on WordPress, Elementor,
            Jetpack, and Photoshop.
          </li>
        </ul>
      </article>
    </section>

    <section class="mt-4 skills">
      <h1 class="text-xl font-bold">Skills</h1>
      <article class=" p-2 rounded-md">
        <ul class="flex flex-wrap justify-ce-nter">
          <li class="relative flex items-center">
            Next.js + SWR
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Astro.js
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            React.js + React Query
            <span class="mx-2 text-blue-700"> ●</span>
          </li>

          <li class="relative flex items-center">
            Node.js + Express.js
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Tailwind CSS
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            antd/MUI
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Git + GitLab
            <span class="mx-2 text-blue-700"> ●</span>
          </li>

          <li>
            CSS3 + SASS

            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Product designing and planning
          </li>
        </ul>
      </article>
    </section>

    <section class="mt-4 education">
      <h1 class="text-xl font-bold">Education</h1>
      <article
        class="flex flex-col justify-between md:flex-row  p-2 rounded-md"
      >
        <h2 class="text-normal">
          <span class="font-bold">Bachelors of Science (B.Sc.) -</span>
          Computer science and technology <span>
            <span class="mx-2 text-blue-700">●</span>
            University of Calicut</span
          >
        </h2>
        <h2 class="text-xs uppercase">June 2017 - March 2020</h2>
      </article>
    </section>

    <section class="mt-2 activities">
      <h1 class="text-xl font-bold">Activities</h1>
      <article
        class="flex flex-col justify-between md:flex-row  p-2 rounded-md"
      >
        <a
          href="https://www.the10xacademy.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Frontend(React.js) Mentor at 10X academy
        </a>
        <span class="text-xs uppercase">March 2022 - December 2022</span>
      </article>
    </section>
  </main>

  <div class="mx-4 md:w-[900px] md:mx-auto mb-6">
    <ul
      class="flex flex-col text-center items-center /hidden justify-between mt-2 text-xs md:flex-row"
    >
      <li class="my-1">
        <a href="https://anandubabu.web.app" class="flex items-center mr-3">
          <img
            src="/assets/icons/resume-web.svg"
            class="w-3 h-3 mr-2"
            alt="portfolio website"
          />
          anandubabu.web.app</a
        >
      </li>
      <li class="my-1">
        <a href="mailto:anandubabu.kr@gmail.com" class="flex items-center mr-3">
          <img src="/assets/icons/mail.png" class="w-3 h-3 mr-2" alt="email" />
          anandubabu.kr@gmail.com</a
        >
      </li>
      <li class="my-1">
        <a class="flex items-center mr-3">
          <img src="/assets/icons/phone.png" class="w-3 h-3 mr-2" alt="Phone" />
          +91 9947975674</a
        >
      </li>
      <li class="my-1">
        <a
          href="https://www.linkedin.com/in/anandubabukr"
          class="flex items-center mr-3"
        >
          <img
            src="/assets/icons/linkedin.png"
            class="w-3 h-3 mr-2"
            alt="LinkedIn"
          />
          in/anandubabukr</a
        >
      </li>
    </ul>
  </div>

  <footer class="flex pt-4 my-8 -t">
    <a class="mx-auto font-bold tracking-wider text-orange-400" href="/"
      >Portfolio</a
    >
  </footer>
</ResumeLayout>
