---
import ResumeLayout from "layouts/ResumeLayout.astro";
---

<ResumeLayout>
  <header class="mt-2 mx-4 md:w-[900px] md:mx-auto">
    <h1 class="text-4xl font-bold">Anandu Babu</h1>
    <h3 class="text-sm">
      Frontend Engineer <span class="mx-4 text-sm"> //</span> Mentor
    </h3>
    <ul
      class="flex flex-col text-center items-start justify-between mt-2 text-xs md:flex-row"
    >
      <li>
        <a href="https://anandubabu.web.app" class="flex items-center mr-3">
          <img
            src="/assets/icons/web.png"
            class="w-3 h-3 mr-2"
            alt="portfolio website"
          />
           anandubabu.web.app</a
        >
      </li>
      <li>
        <a href="mailto:anandubabu.kr@gmail.com" class="flex items-center mr-3">
          <img src="/assets/icons/mail.png" class="w-3 h-3 mr-2" alt="email" />
           anandubabu.kr@gmail.com</a
        >
      </li>
      <li>
        <a class="flex items-center mr-3">
          <img src="/assets/icons/phone.png" class="w-3 h-3 mr-2" alt="Phone" />
           +91 9947975674</a
        >
      </li>
      <li>
        <a
          href="https://www.linkedin.com/in/anandubabukr"
          class="flex items-center mr-3"
        >
          <img
            src="/assets/icons/linkedin.png"
            class="w-3 h-3 mr-2"
            alt="LinkedIn"
          />
           in/anandubabukr</a
        >
      </li>
    </ul>
    <article class="mt-3 summery">
      <p>
        Frontend-focused Fullstack Engineer, boasting over three years of
        proficiency in Next.js, React.js, and Astro.js. Adept in crafting
        intricate applications, guiding agile teams, and ensuring application
        security. Designed user interfaces, constructed gateway APIs, and
        expertly managed version control with Git/GitLab, consistently
        delivering high-performance web solutions.
      </p>
    </article>

    <hr class="w-[90%] mx-auto mt-2 text-center" />
  </header>
  <main class="mx-4 md:w-[900px] md:mx-auto mb-6">
    <section class="mt-2 experience">
      <h1 class="text-xl font-bold">Experience</h1>
      <article class="mt-3">
        <div class="flex flex-col justify-between md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700"> Frontend Engineer</span> @ ECS Business
            Solutions.
          </h1>
          <h2 class="text-xs uppercase">AuGUST 2022 – PRESENT</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Crafted a scalable frontend architecture for React.js and Next.js
            applications, prioritizing maintainability, reusability, and
            readability.
          </li>
          <li>
            Developed Express.js gateway APIs to connect with Spring
            microservices, improving data access and security. Supported backend
            team in achieving REST API standards.
          </li>
          <li>
            Utilizing the antd component library for apps with theming and
            branding for banking and finance-related applications.
          </li>
          <li>
            Designed application products and user interfaces using Figma,
            delivering intuitive and customer-centric interfaces for complex
            interactions that met and exceeded expectations.
          </li>
          <li>
            Employed Tailwind CSS and Astro.js to create high-performance Static
            Generated (SSG) applications, perfect for content-rich environments.
          </li>
          <li>
            Facilitated the guidance, mentoring, and recruitment of agile teams,
            fostering team growth through engaging tech talks and comprehensive
            training sessions.
          </li>
        </ul>
      </article>

      <article class="mt-3">
        <div class="flex flex-col justify-between md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700"> Junior Frontend Engineer</span> @ Tata
            Consultancy Services
          </h1>
          <h2 class="text-xs uppercase">SEPTEMBER 2020 - JULY 2022</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Designed and upheld UIs for Angular and React applications,
            employing HTML, SASS, and Material UI. Innovated new features and
            resolved bugs in alignment with web standards.
          </li>
          <li>
            Mastered intricate generative algorithms within a digital handloom
            application, simultaneously crafting a responsive UI using vanila js
            (ES6), p5.js (canvas based animations), and more.
          </li>
        </ul>
      </article>

      <article class="mt-3">
        <div class="flex flex-col justify-between content-center md:flex-row">
          <h1 class="font-bold text-normal">
            <span class="text-blue-700">Freelance Wordpress developer</span> @
            Fivver / on direct contact.
          </h1>
          <h2 class="text-xs uppercase">SEPTEMBER 2019 - August 2022</h2>
        </div>
        <ul class="ml-6 list-disc list-outside">
          <li>
            Designed and delivered top-tier websites and creative projects for
            clients worldwide, with a primary focus on WordPress, Elementor,
            Jetpack, and Photoshop.
          </li>
        </ul>
      </article>
    </section>

    <section class="mt-4 skills">
      <h1 class="text-xl font-bold">Skills</h1>
      <article>
        <ul class="flex flex-wrap">
          <li class="relative flex items-center">
            Next.js + SWR
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Astro.js
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            React.js + React Query
            <span class="mx-2 text-blue-700"> ●</span>
          </li>

          <li class="relative flex items-center">
            Node.js + Express.js
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Tailwind CSS
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            antd/MUI
            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Git + GitLab
            <span class="mx-2 text-blue-700"> ●</span>
          </li>

          <li>
            CSS3 + SASS

            <span class="mx-2 text-blue-700"> ●</span>
          </li>
          <li class="relative flex items-center">
            Product designing and planning
          </li>
        </ul>
      </article>
    </section>

    <section class="mt-4 education">
      <h1 class="text-xl font-bold">Education</h1>
      <article class="flex flex-col justify-between md:flex-row">
        <h2 class="text-normal">
          <span class="font-bold">Bachelors of Science (B.Sc.) -</span>
           Computer science and technology <span>
            <span class="mx-2 text-blue-700">●</span>
             University of Calicut</span
          >
        </h2>
        <h2 class="text-xs uppercase">June 2017 - March 2020</h2>
      </article>
    </section>

    <section class="mt-2 activities">
      <h1 class="text-xl font-bold">Activities</h1>
      <article class="flex flex-col justify-between md:flex-row">
        <a
          href="https://www.the10xacademy.com/"
          target="_blank"
          rel="noopener noreferrer"
        >
          Frontend(React.js) Mentor at 10X academy
        </a>
        <span class="text-xs uppercase">March 2022 - December 2022</span>
      </article>
    </section>
  </main>

  <footer class="flex pt-4 my-8 border-t">
    <a class="mx-auto font-bold tracking-wider text-orange-400" href="/"
      >Portfolio</a
    >
  </footer>
</ResumeLayout>
