---
---

<footer class="p-8 mt-4 text-white bg-slate-700">
  <div>
    <div class="w-16 mx-auto">
      <svg
        width="100%"
        height="100%"
        viewBox="-2.4 -2.4 28.80 28.80"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
        stroke="#ffffff"
      >
        <g
          id="SVGRepo_bgCarrier"
          stroke-width="0"
          transform="translate(0,0), scale(1)"
        >
          <rect
            x="-2.4"
            y="-2.4"
            width="28.80"
            height="28.80"
            rx="14.4"
            fill="#ffffee"
            strokewidth="0"
            class="svg-elem-1"></rect>
        </g>
        <g
          id="SVGRepo_tracerCarrier"
          stroke-linecap="round"
          stroke-linejoin="round"></g>
        <g id="SVGRepo_iconCarrier">
          <path
            d="M16 14C16 16.2091 14.2091 18 12 18C9.79086 18 8 16.2091 8 14V10C8 7.79086 9.79086 6 12 6C14.2091 6 16 7.79086 16 10"
            stroke="#eb5c31"
            stroke-width="1.704"
            stroke-linecap="round"
            class="svg-elem-2"></path>
          <path
            d="M8.5 10H16"
            stroke="#eb5c31"
            stroke-width="1.704"
            stroke-linecap="round"
            class="svg-elem-3"></path>
          <path
            d="M12 10V6"
            stroke="#eb5c31"
            stroke-width="1.704"
            stroke-linecap="round"
            class="svg-elem-4"></path>
          <path
            d="M12 8.89182V3.85022C12 2.73646 11.0955 1.81254 10.0128 2.03267C5.44193 2.96194 2 7.03407 2 11.9168C2 13.7706 2.49614 15.5075 3.36182 17M16.3641 2.8419C19.7003 4.4761 22 7.92565 22 11.9168C22 17.4856 17.5228 22 12 22C10.1786 22 8.47087 21.509 7 20.651"
            stroke="#eb5c31"
            stroke-width="1.704"
            stroke-linecap="round"
            class="svg-elem-5"></path>
        </g>
      </svg>
    </div>
    <h1 class="text-center">&copy; Anandu Babu</h1>
    <p class="text-center">2023</p>
  </div>

  <div class="mx-auto w-fit flex gap-4 mt-4">
    <a
      href="https://github.com/anandubabu-kr/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="./assets/icons/social-gh.svg"
        alt="github"
        class="rounded-full hover:bg-orange-400 w-6"
      />
    </a>
    <a
      href="https://codepen.io/anandubabucj7"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="./assets/icons/codepen.svg"
        class="rounded-full w-6 hover:bg-orange-400"
        alt="CodePen"
      />
    </a>
    <a
      href="https://www.instagram.com/anandubabukr"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        src="./assets/icons/instagram.svg"
        class="rounded-full w-6 hover:bg-orange-400"
        alt="Instagram"
      />
    </a>
  </div>

  <div class="justify-between flex-col mx-auto flex mt-2">
    <div class="mt-4 flex flex-col md:flex-row mx-auto">
      <a class="flex items-center">
        <img src="./assets/icons/phone.png" class="w-5 h-5 mx-2" alt="Phone" />
        <p>+91 9947975674</p>
      </a>
      <a href="mailto:anandubabu.kr@gmail.com" class="flex items-center">
        <img src="./assets/icons/mail.png" class="w-5 h-5 mx-2" alt="email" />
        <p>anandubabu.kr@gmail.com</p>
      </a>
      <a
        href="https://www.linkedin.com/in/anandubabukr"
        class="flex items-center"
      >
        <img
          src="./assets/icons/linkedin.png"
          class="w-5 h-5 mx-2"
          alt="LinkedIn"
        />
        <p>in/anandubabukr</p>
      </a>
    </div>

    <div class="mx-auto text-slate-400">
      <p class="text-center mt-4">Build with 🚀</p>
      <div class="flex gap-2">
        <p>Tailwind</p>
        <p>Github</p>
        <p>Astro JS</p>
        <p>Netlify</p>
      </div>
    </div>
  </div>
</footer>
