---
---

<section id="skills" class="my-4 md:mx-16">
  <h1 class="mb-4 text-2xl font-black text-center gradient-text">Skills</h1>
  <hr class="mx-auto mt-4 border-orange-200" />

  <div
    id="items"
    class="box-border flex flex-wrap items-center justify-center mt-7"
  >
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/react.png"
        width="50px"
        alt="figma"
      />
      <h1 class="mx-4">react JS</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/figma.png"
        width="50px"
        alt="figma"
      />
      <h1 class="mx-4">Figma design</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/tailwind.png"
        width="50px"
        alt="Tailwind"
      />
      <h1 class="mx-4">Tailwind</h1>
    </div>

    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="/rounded-full"
        src="./assets/skills/nodejs.png"
        width="45px"
        alt="next"
      />
      <h1 class="mx-4">Node JS</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/github.png"
        width="50px"
        alt="AstroJS"
      />
      <h1 class="mx-4">Git/Github</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/antd.jpg"
        width="50px"
        alt="figma"
      />
      <h1 class="mx-4">antd</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/express.png"
        width="50px"
        alt="AstroJS"
      />
      <h1 class="mx-4">express JS</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/nxtjs.png"
        width="50px"
        alt="next"
      />
      <h1 class="mx-4">Next JS</h1>
    </div>
    <div
      class="flex flex-col items-center justify-between h-20 m-2 sm:flex-row"
    >
      <img
        class="rounded-full"
        src="./assets/skills/astro.png"
        width="50px"
        alt="next"
      />
      <h1 class="mx-4">Astro JS</h1>
    </div>
  </div>
</section>
