---
import SkillCard from "./SkillCard.astro";
const data = [
  {
    title: "React JS",
    image: "/assets/skills/react.png",
  },
  {
    title: "Next JS",
    image: "/assets/skills/nxtjs.png",
  },
  {
    title: "Astro JS",
    image: "/assets/skills/astro.png",
  },
  {
    title: "Tailwind",
    image: "/assets/skills/tailwind.png",
  },
  {
    title: "Figma",
    image: "/assets/skills/figma.png",
  },
  {
    title: "Firebase",
    image: "/assets/skills/firebase.png",
  },
  {
    title: "Node JS",
    image: "/assets/skills/nodejs.png",
  },
  {
    title: "Git/Github",
    image: "/assets/skills/github.png",
  },
  {
    title: "Antd",
    image: "/assets/skills/antd.jpg",
  },
  {
    title: "Express JS",
    image: "/assets/skills/express.png",
  },
];
---

<section id="skills" class="my-4 md:mx-16">
  <h1 class="mb-4 text-2xl font-black text-center gradient-text">Skills</h1>
  <hr class="mx-auto mt-4 border-orange-200" />
  <div
    id="items"
    class="box-border flex flex-wrap items-center justify-center mt-7"
  >
    {data.map((item) => <SkillCard title={item.title} image={item.image} />)}
  </div>
</section>
