---
---

<nav class="fixed top-[30%] left-2 w-8 md:w-10">
  <menu class="bg-orange-400">
    <li class="mt-4">
      <a
        href="https://wa.me/+919947975674"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/whatsapp.svg"
          alt="github"
          class="rounded-full hover:bg-orange-400"
        />
      </a>
    </li>
    <li class="mt-4">
      <a
        href="mailto:anandubabu.kr@gmail.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/gmail.svg"
          alt="github"
          class="rounded-full hover:bg-orange-400"
        />
      </a>
    </li>
    <li class="mt-4 hidden">
      <a
        href="https://github.com/anandubabu-kr/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/social-gh.svg"
          alt="github"
          class="rounded-full hover:bg-orange-400"
        />
      </a>
    </li>
    <li class="mt-4">
      <a
        href="https://www.linkedin.com/in/anandubabukr"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/social-ln.svg"
          class="rounded-full hover:bg-orange-400"
          alt="LinkedIn"
        />
      </a>
    </li>
    <li class="mt-4 hidden">
      <a
        href="https://codepen.io/anandubabucj7"
        target="_blank"
        rel="noopener noreferrer"
      >
        <img
          src="./assets/icons/codepen.svg"
          class="rounded-full hover:bg-orange-400"
          alt="CodePen"
        />
      </a>
    </li>
  </menu>
</nav>
