---
const { title, image, description } = Astro.props;
---

<div
  class="flex border overflow-hidden rounded-md p-2 flex-col items-center justify-between h-20 m-2 sm:flex-row hover:saturate-0 duration-200"
>
  <img src={image} width="100px" alt={title} />
  <div class="mx-4 text-center md:text-left">
    <h1>
      {title}
    </h1>

    <p class="text-xs block">
      {description}
    </p>
  </div>
</div>
