---
import "styles/global.css";
import { AstroFont } from "astro-font";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anandu Babu | Web developer Portfolio 🚀</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link
      rel="icon"
      type="image/x-icon"
      href="https://anandubabu.web.app/favicon.png"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--  meta tags -->

    <meta
      name="description"
      content="Transforming Ideas into Stunning Web Realities | 3+ years of experience and specialization in reactJS"
    />

    <!-- newx -->
    <meta name="generator" content={Astro.generator} />
    <meta property="og:url" content="https://anandubabu.web.app" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="Anandu Babu, web developer 🚀" />
    <meta
      property="og:description"
      content="Transforming Ideas into Stunning Web Realities | 3+ years of experience and specialization in reactJS"
    />
    <meta
      property="og:image"
      content="https://anandubabu.web.app/assets/og-image.png"
    />

    <!-- twitter -->

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@flickr" />
    <meta name="twitter:title" content="Anandu Babu, web developer 🚀" />
    <meta
      name="twitter:description"
      content="Transforming Ideas into Stunning Web Realities | 3+ years of experience and specialization in reactJS"
    />
    <meta
      name="twitter:image"
      content="https://anandubabu.web.app/assets/og-image.png"
    />
   
    <AstroFont
      config={[
        {
          src: [],
          preload: false,
          display: "swap",
          selector: "body",
          name: "Montserrat",
          fallback: "sans-serif",
          googleFontsURL: 'https://fonts.googleapis.com/css2?family=Montserrat',
        },
      ]}
    />
    
    <script src="../scripts/" >

    </script>
  </head><body class="box-border">
    <slot />
  </body>
</html>
