---
import "styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Anandu Babu | Frontend Engineer</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- TODO meta tags -->

    <meta
      name="description"
      content="web developer with more than  three years of experience and specialization in reactJS"
    />
    <meta property="og:title" content="web developer - dream design develope" />
    <meta
      property="og:description"
      content="web developer with more than  three years of experience and specialization in reactJS"
    />
    <!-- <meta property="og:image" content="/assets/og-image.png" /> -->

    <!-- CDN imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
  </head>
  <body class="box-border">
    <slot />
  </body>
</html>
