---
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Anandu Babu | Frontend Engineer Resume</title>
    <link rel="icon" type="image/x-icon" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="description"
      content="Frontend engineer with three years of experience in architecting and
      delivering enterprise applications. Managed and mentored agile teams in
      developing web applications using up-to-date tools and libraries."
    />
    <meta property="og:title" content="web developer - dream design develope" />
    <meta
      property="og:description"
      content="Frontend engineer with three years of experience in architecting and
      delivering enterprise applications. Managed and mentored agile teams in
      developing web applications using up-to-date tools and libraries."
    />
    <meta property="og:image" content="/assets/og-image.png" />
  </head>

  <body class="flex flex-col">
    <slot />
  </body>
</html>
